* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

body {
  color: var(--sh-text);
  font-family: var(--sh-font-body);
  -webkit-font-smoothing: antialiased;
}
